.arena___root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../../resources/arena.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.arena___battlefield {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.arena___right-fighter img {
  transform: scaleX(-1);
}

.arena___fighter {
  position: relative;
}
.arena___fighter img {
  height: 480px;
}

.arena___fight-status {
  display: flex;
  margin: 30px;
  justify-content: center;
}

.arena___fighter-name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
}

.arena___fighter-indicator {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
}

.arena___health-indicator {
  width: 100%;
  height: 25px;
  border: 2px solid;
  border-radius: 5px;
  margin: 0 10px;
  overflow: hidden;
  position: relative;
}

.arena___critical-indicator {
  width: 97%;
  height: 7px;
  border: 1px solid;
  border-radius: 5px;
  margin: 0.5px 10px;
  overflow: hidden;
  position: relative;
}

.arena___health-bar {
  height: 100%;
  width: 100%;
  background-color: #ebd759;
  transition: width 0.3s ease, background-color 1.5s ease-in-out;
}

.arena___critical-bar {
  height: 100%;
  width: 100%;
  background-color: rgb(167, 35, 255);;
  transition: width 3s ease-in-out,
  background-color 1.5s ease-in-out;
  transition: width 0.1s ease-in-out, background-color 1.5s ease-in-out;
}

.blink {
  animation: blink 550ms infinite alternate;
}

#left-fighter-indicator {
  position: absolute;
  right: 0;
}

@keyframes blink {
  from {
    background-color: rgb(167, 35, 255);
  }
  to {
    background-color: rgb(248, 69, 69);
  }
}